.slide {
  width: 90%;
  margin: 0 auto;
  //   padding: 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 90px 0;
  .sContainer {
    width: 100%;
    justify-content: space-around;
    align-items: center;

    .carousel-prev,
    .carousel-next {
      width: 40px;
      height: 40px;
      top: 50%;
      background-color: #2e0249;
      //   border-radius: 50%;
      border: 2px solid #fff;
      cursor: pointer;
      display: flex;
      align-self: center;
      justify-content: center;
      transition: all 0.3s ease;
    }
  }
}

@media (max-width: 1024px) {
  .slide {
    flex-direction: column;

    .sContainer {
      width: 100%;
      gap: 20px;
      justify-content: space-between;

      flex-direction: column;
      .carousel-prev,
      .carousel-next {
        width: 30px;
        height: 30px;
      }

      .carousel-prev {
        left: 0;
      }

      .carousel-next {
        right: 0;
      }

      .sCard {
        width: 50%;
      }
    }
  }
}

@media (max-width: 768px) {
  .slide {
    display: none;
    .sContainer {
      .sCard {
        width: 100%;
      }
    }
  }
}
